@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;600;700&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.disorders-wrap{
    padding: 71px 0 103px;
}

.disorders-container{
    max-width: 1252px;
    margin: 0 auto;
    padding: 0 15px;
}

.disorders-description{
    max-width: 898px;
    margin: 0 auto;
    padding: 0 0 23px;
}

.disorders-description h2{
    font-size: 44px;
    font-weight: 600;
    letter-spacing: -0.9px;
    text-align: center;
    margin: 0 0 15px;
    color: #333;
}

.disorders-description p{
    text-align: center;
    color: #333;
    opacity: .7;
    font-size: 16px;
    line-height: 24px;
}
 #blocks{
    margin: 0 auto;
    padding: 0;
    list-style: none;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    color: white;
    -webkit-box-align: stretch;
    flex-direction: row;
}

#blocks li{
    margin-right: 2.43%;
    margin-top: 25px;
    flex-basis: 19%;
    width: 21%;
    justify-content: center;
    flex-direction: column;
    padding: 20px 63px;
    position: relative;
    color: white;
    transition: 2s;
}

#blocks li::before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(78,232,99,0.65);
    border-radius: 4px;
    transition: all .3s ease-in;
}



#blocks li:hover::before{
    background-color:black; 
    color: white;
    
}



#blocks li:first-child{
    background-image: url("./images/depression.png");
    background-size: cover;
    background-position: center center;
    border-radius: 4px;
}

#blocks li:nth-child(2){
    background-image: url("./images/second.png");
    background-size: cover;
    background-position: center center;
    border-radius: 4px;
}

#blocks li:nth-child(3){
    background-image: url("./images/third.png");
    background-size: cover;
    background-position: center center;
    border-radius: 4px;
    margin-right: 0px;
}

#blocks li:nth-child(4){
    background-image: url("./images/fourth.png");
    background-size: cover;
    background-position: center center;
    border-radius: 4px;
}

#blocks li:nth-child(5){
    
    background-size: cover;
    background-position: center center;
    border-radius: 4px;
}

#blocks li:last-child{
    background-image: url("./images/last.png");
    background-size: cover;
    background-position: center center;
    border-radius: 4px;
    margin-right: 0px;
} 

#blocks > li > h5, #blocks>li>p{
    z-index: 1;
    position: relative;
} 
#blocks > li > a {
    z-index: 2;
    color: #ffff99;
    position: relative;
}

#blocks > li:hover a{
    color: #ffff99 !important;
}

@media (max-width: 980px){
    .disorders-description h2{
        font-size: 50px;
    }
    #blocks li:nth-child(3), #blocks li:last-child{
        margin-right: 2.43%;
    }
    #blocks li{
        flex-basis: 30%;
    }
}

@media (min-width: 320px) and (max-width: 550px){
    .disorders-description h2{
        font-size: 30px;
    }
    #blocks li:nth-child(3), #blocks li:last-child{
        margin-right: 2.43%;
    }
    
}

.slideshow-wrap{
    padding: 99px 0px 93px;
}
.fluid{
    margin: 0px auto;
}
.fluid-container{
    margin: 0px auto;
    padding: 0px 15px;
}
.fluid-content{
   padding: 0px 0px 35px 0px;
   margin: 0px 50px;
}
.fluid-content p{
    text-align: center; 
    font-size: 44px;
    font-weight: 700;
    margin: 0px 0px 15px 0px;
}
.slides-list{
}
.slide-container{
    display: flex;
    margin: 0px auto;
    
}
.slide{
    position: relative; 
    padding: 10px;
}
.slide p{
    padding: 0px 0px 0px 41px;
    font-size: 15px;
    line-height: 25px;
    font-style: normal;
    font-family: 'Poppins',sans-serif;
    font-weight: 300;
    position: relative;
    color: rgba(51,51,51,0.20);
    margin: 20px 0px 20px;
}
.slide p::before{
    position: absolute;
    content: '';
    background-image: url("./images/quotes.png");
    backface-visibility: visible;
    width: 28px;
    height: 22px;
    left: 0px;
    top: -8px;
}
#slide1{
    position: relative;
    padding: 10px;  
    background-color: black;
    border: 2px;
    border-radius: 5px; 
}
#slide1 p{
    padding: 0px 0px 0px 41px;
    font-size: 15px;
    line-height: 25px;
    font-style: normal;
    font-family: 'Poppins',sans-serif;
    font-weight: 300;
    position: relative;
    color: white;
    margin: 20px 0px 20px;
}
#slide1 p:before{
    position: absolute;
    content: '';
    background-image: url("./images/quotes.png");
    backface-visibility: visible;
    width: 28px;
    height: 22px;
    left: 5px;
    top: 4px;
}
#slide1:after{
    background-image: url("./images/Bitmap.png");
    position: absolute;
    content: '';
    bottom: -18px;
    left: 15px;
    height: 18px;
    z-index: 99999;
    background-size: contain;
    width: 58px;
    background-repeat: no-repeat;
}


.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}
@media (max-width: 768px){
    .fluid-content p{
        font-size: 20px;
    }
    .slide-container{
        display: table-cell;
    }
    body{
        margin: 10px 30px;

    }
    

}

